<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OneTimeDriverSetup" value="false" />
    <add key="CustomBuildDriver" value="false" />
    <add key="JobBaseUrl" value="https://coe-qa.github.io/" />
    <add key="AuthorizationToken" value="JGNoLXFhMzo2SG9FR0xvcGJ3dW5CZmdNa1pIQjNFWVhQdllCRXpIRHZ2OUZkTEtOREVLWTVZR2J1Y2xpS3E0dHBMTWI=" />
    <add key="RESTSharpUserName" value="admin@mail.com" />
    <add key="RESTSharpPassword" value="abc123" />
    <add key="Zephyr.Enabled" value="false" />
    <add key="Zephyr.projectID" value="" />
    <add key="Zephyr.versionID" value="" />
    <add key="Zephyr.cycleID" value="" />
    <add key="Zephyr.userID" value="" />
    <add key="Zephyr.BaseUrl" value="https://prod-api.zephyr4jiracloud.com" />
    <add key="Zephyr.secretKey" value="" />
    <add key="Zephyr.zapiAccessKey" value="" />
    <add key="Zephyr.Timeout" value="90000" />
    <add key="Zephyr.ReadWriteTimeout" value="60000" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeTypesMap" publicKeyToken="1b320cc08ad5aa89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>